
.container{
  margin: 60px 230px ;

  .main{
    max-height: 600px;
    background: rgb(201, 76, 76);
    width: 630px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }
}
